html {
    padding-top: 25px;
    background-image: url(images/bg_page.png);
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.c1{
    color:red;
}

h1{
    font-size: 90px;
    color: rgb(105, 104, 104);
    margin: 30px;
}

body{
    margin: 0 auto;
    background-color: rgb(224, 231, 235);
    width: 800px;
    box-shadow: 10px 15px 15px 5px rgba(66, 66, 66, 0.5);
}

.intro{
    color: rgb(23, 147, 219);
    font-size: 30px;
    margin: 30px;
}

h2{
    font-size: 50px;
    color: rgb(158, 143, 101);
    margin-left:70px;
    /*Не знаю как вставлять картинку*/
}

.intro1{
    margin-left:70px;
    font-size: 18px;
}

hr {
    border: none;
    background-color: rgb(255, 255, 255);
    height: 5px;
   }